@{
    ViewBag.Title = @Amana.GlobalResources.Users.UserPermissions;
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<div class="message messageError">
    @Amana.GlobalResources.Users.AccessPages
</div>

