@model string

    <div class="kt-alert kt-alert--outline alert alert-danger alert-dismissible" role="alert">		
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>	
    <span> @Model</span>		</div>
