<script type="text/javascript">
    $(function () {
        $(".messageSent").fadeIn(1000, function () {
            $(".messageSent").fadeOut(10000);
        });
    })
</script>
<div class="alert alert-solid-success alert-bold" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <div class="alert-text"> @Amana.GlobalResources.Cpanel.MessageSent</div>
</div>
